*{
	font-family: 'Roboto', sans-serif;
}

.bg-img{
	background-image: url("../img/bip.jpg");
	background-attachment: fixed;
  	overflow: scroll;
	background-position: center bottom;
    background-size: cover;
    height: 150vh;
    width: 100%;
    background-color: #3E3F41;

}
.logo-t{
	padding-top: 50px;
    width: 50%;
}

h2{
	font-size: 2.56rem;
	font-weight: bolder;
	color: #fff;
}

.bg-box{
	width: 300px;
	height: 170px;
	background-color: #fff;
}
.btn-style{
	width: 80%;
}
.btn-style a{
	font-weight: 300;
	color: #3E3F41;
}

.other-user p{
	margin-bottom: -8px;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
}
.other-user p a{
	margin-bottom: -8px;
	font-weight: 500;
	color: #F6A800;
	}

#NaN{
	font-weight: bold;
	color: #fff;
}





